body {
	background-color: black;
	padding-top: 70px;
}

.topico {
	
	overflow: hidden;
}

.noticia {
	height: 400px;
	overflow: hidden;
}

.noticia .descricao {
	font-size: 12px;
	margin: 10px;
}

.exercicio {
	
	text-align: center;
	background-color: #eee;
}

.exercicio h3 {
	font-weight: bold;
	color: gray;
}

#popupTopic {
	display: none;
	width: 900px;
	height: 800px;
	position: relative;
	margin: 15%;
	padding: 10px;
	padding-top: 0;
	border: solid 2px white;
	background-color: white;
	border-radius: 5px;

}

#popupTopic .pager {
	position: absolute;
	margin-left: 400px;
}

#commentArea {
	margin-top: 10px;
	padding: 20px;
	
}