
    html{
            margin:0;
            padding:0;
    }

    body {
            background-color: #000;
            color: green;
            margin:0;
            padding:0;
            height:100%;
    }

    #logo {
            height: 300px; 
            width: 300px;

            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            
            margin: auto;
    }

    #capslockAlert {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* entire container, keeps perspective */
    .flip-container {
            perspective: 1000;

    }
    /* flip the pane when clicked */
    .flip-container .flipper, .flip-container .flipper {
            transform: rotateY(180deg);
    }

    .flip-container, .front, .back {
            width: 300px;
            height: 300px;
    }

    /* flip speed goes here */
    .flipper {
            transition: 1s cubic-bezier(1.000, 0.015, 1.000, 0.975);
            transform-style: preserve-3d;

            position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
            backface-visibility: hidden;

            position: absolute;
            width: 300px;
            height: 300px;

            text-align: center;
    }

    /* front pane, placed above back */
    .front {
            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
            transform: rotateY(180deg);
    }

    #footer {
            width:100%;
            height:40px;
            padding:0;
            position:absolute;
            bottom:0;
            left:0;
            right: 0;

            margin:auto;
    }

    #footerList {
            list-style-type: none;
            margin: auto;
            padding: 0;
           
            text-align: center;
    }

    #footerList li {
            display: inline;
            margin-right: 50px;
    }

    #footerList li a {
            text-decoration: none;
            color: green;
    }
