body {
	background-color: black;
	padding-top: 70px;
}

#popupTopic {
	display: none;
	width: 900px;
	height: 800px;
	position: relative;
	margin: 15%;
	padding: 10px;
	padding-top: 0;
	border: solid 2px white;
	background-color: white;
	border-radius: 5px;

}

#popupTopic .pager {
	position: absolute;
	margin-left: 400px;
}

#commentArea {
	margin-top: 10px;
	padding: 20px;
	
}